---
layout: home
---

<div class="posts clearfix">
  {% for question in site.questions %}
  {% if question.snippet %}
    <article class="post">    
      <div class="eyebrow">{{ question.date | date: '%B %d, %Y' }}</div>
      <h1><a href="{{ question.url | relative_url }}">{{ question.question }}</a></h1>

      <div class="entry">
      	<p>{{ question.snippet }}</p>


<!--         {{ post.content | truncatewords:40}}
 -->  </div>
      <a href="{{ question.url | relative_url }}" class="small-link">Read more</a>
      {% for tag in question.tags %}
        <a  href="{{site.base_url}}/tags/{{tag}}"> {{tag | replace: "-", " "}}{% unless forloop.last %},{% endunless %} </a>
      {% endfor %}
    </article>
    {% endif %}
  {% endfor %}

</div>