---
layout: home
---

<div class="posts clearfix">
  {% for question in site.questions %}
  {% if question.snippet %}
    <article class="post">    
      <div class="eyebrow">{{ question.date | date: '%B %d, %Y' }}</div>
      <h1><a href="{{ site.baseurl }}{{ question.url }}">{{ question.question }}</a></h1>

      <div class="entry">
      	<p>{{ question.snippet }}</p>
  
<!--         {{ post.content | truncatewords:40}}
 -->  </div>
      <a href="{{ site.baseurl }}{{ question.url }}" class="small-link">Read more</a>
    </article>
    {% else %}
    {% endif %}
  {% endfor %}

</div>