{% include tags.html %}


    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}" /></a>

          <nav>
            
            <div class="dropdown">
              <a>Q & A Tags</a>
              <div class="dropdown-content">
                {% for t  in tags %}
                  <a href="{{site.baseurl}}/tag/{{t}}">{{t | replace: "-", "&nbsp;"}}</a>
                {% endfor %}
              </div>
            </div>
          
            <a href="{{site.baseurl}}/ask">Ask a question</a>
            <a href="{{ site.baseurl }}/about">About</a>

            
           <a href="{{site.baseurl}}/search">search</a>
            




          </nav>
        </header> 
      </div>
    </div>
