
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #333;
$darkGray: #555;
$gray: #777;
$medGray: #999;
$lightGray: #ccc;
$xlightGray: #f2f2f2;
$white: #fff;
$red: #d42;
$darkRed: #c30;

// pallete
/* SCSS HEX */
$y-in-mn-blue: #355070ff;
$chinese-violet: #6d597aff;
$rose-dust: #b56576ff;
$candy-pink: #e56b6fff;
$tumbleweed: #eaac8bff;


$themeDarkPrimary: #00296bff;
$themeLightPrimary: #2173c4;
$themeDarkGrey: #555555ff;
$themeLightSecondary: #bb5d88;
$themeDarkSecondary: #7e3556;



// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}