---
layout: default
---





{% include mathjax.html %}
{% if page.picture %}
<div style="float:left;padding-right:25px">
    <image src="{{site.baseurl}}/images/{{page.picture}}" width="150px"/>
</div>
{% endif %}
 <h2> {{page.name}} </h2> 


<h3> <color2>{{page.qualifications}}</color2> </h3>
<br />

<p> {{page.bio}} </p>




<p> <boldcolor> {{page.name}} has contributed to the following answers: </boldcolor></p>



<div class="posts">
  {% for question in site.questions reversed %}
  {% if question.snippet and question.answered_by contains page.name %}
    <article class="post" >    
      <div class="eyebrow">{{ question.date | date: '%B %d, %Y' }}</div>
      <h1><a href="{{ question.url | relative_url }}">{{ question.question }}</a></h1>

      <div class="entry">
        <p>{{ question.snippet }}</p>


      </div>

      <a href="{{ question.url | relative_url }}" class="small-link">Read more</a>
      {% if question.tags.size > 0 %}

      <div >
        tags: 
        {% assign tags = question.tags | sort %}
      {% for tag in tags %}
        <a  href="{{site.base_url}}/tags/{{tag}}"> {{tag | replace: "-", " "}}</a>{% unless forloop.last %},{% endunless %} 
      {% endfor %}
    </div>
      {% endif %}
 
    </article>
    {% endif %}
  {% endfor %}

</div>