---
layout: default
--- 

{% include mathjax.html %} 


<div class="container">
<main>
    
      <h1 class="question-header">{{ page.question }}</h1>
      <p class="question-snippet">{{ page.snippet }}</p>
    
  {% if page.tags.size > 0 %}
  <div>tagged with: {% for tag in page.tags %}
    <a href = "{{site.base_url}}/tag/{{tag}}"> {{ tag | replace: "-", " " }}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
</div>
{% endif %}
  <div class="date">{{ page.date | date: '%B %d, %Y'}}</div>
  <div class="entry">
    {{ content }}
  </div>

</main>
</div>